<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShopCartMapper">
    <insert id="insertCart">
        insert into shopping_cart (name, image, user_id, dish_id, setmeal_id, dish_flavor, amount, create_time) VALUES (#{name}, #{image}, #{userId}, #{dishId}, #{setmealId}, #{dishFlavor}, #{amount}, #{createTime})
    </insert>
    <update id="addNum">
        update shopping_cart set number = number+1 where id=#{id}
    </update>
    <delete id="clean">
        delete from shopping_cart where user_id=#{currentId}
    </delete>
    <delete id="deleteOne">
        delete from shopping_cart
        <where>
            <if test="shoppingCartDTO.dishFlavor != null">and dish_flavor=#{shoppingCartDTO.dishFlavor}</if>
            <if test="shoppingCartDTO.dishId != null">and dish_id=#{shoppingCartDTO.dishId}</if>
            <if test="shoppingCartDTO.setmealId != null">and setmeal_id=#{shoppingCartDTO.setmealId}</if>
        and user_id=#{currentId}
        </where>
        limit 1
    </delete>



    <select id="selectIfExist" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="dishId != null">and dish_id=#{dishId}</if>
            <if test="setmealId != null">and setmeal_id=#{setmealId}</if>
            <if test="dishFlavor != null">and dish_flavor=#{dishFlavor}</if>
            <if test="userId != null">and user_id=#{userId}</if>
        </where>
        order by create_time desc
    </select>
    <select id="listCart" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart where user_id=#{currentId}
    </select>
</mapper>